body {
    background-color: #0f1123;
}

h1 {
    color: 	#a6f0c6;
    margin: 0;
    font-size: 350%;
}

h2 {
    color: 	#a98b98;
    font-size: 125%;
    margin: 10px 0px 2px;
}

h3 {
    color: 	#a6f0c6;
    font-size: 150%;
}

p {
    color: 	#a98b98;
    margin: 5px 0px;
}

td {
    color: #a98b98;
    padding-right: 30px;
}

a {
    color: #a98b98;
}